.tiktok {
  position: relative;
}

.tiktok::before,
.tiktok::after {
  display: block;
  content: 'TikTok';
  position: absolute;
  top: 0;
}

.tiktok::before {
  color: #69c9d0;
  z-index: -1;
}

.tiktok::after {
  color: #ee1d52;
  z-index: -1;
}

.tiktok:hover::before {
  transform: translate(-2px, -1px);
}

.tiktok:hover::after {
  transform: translate(2px, 1px);
}
